body {
  margin: 0;
  margin-bottom:-10px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


hr {
  border-top: 8px solid black;
  border-style: dotted;
  width: 5%;
  opacity: 1;
}

#slidesh {
  object-fit: cover;
  height: 620px;
  width: 620px;
}

#horiLine {
  display: flex;
  justify-content: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

footer {
  margin: 0px;
  padding: 0px;
}

@media screen and (max-width: 480px) {
  hr {
    border-top: 6px solid black;
    border-style: dotted;
  width: 10%;
  }
  #slidesh {
    object-fit: cover;
  height: 500px;
  width: 520px;
  }
}